{% load static %}
<!DOCTYPE html>

<html class="uk-background-muted">
  {% include "meta.html" %}

  <body>
    {% block content %}
    {% endblock %}

    <!-- <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.modal.min.js' %}"></script> -->

    <!-- Load the UI Kit Script files -->
    <script type="text/javascript" src="{% static 'script/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/uikit-icons.min.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
