{% extends 'authentication_card.html' %}

{% load static %}

{% block title %}
    Reset your password
{% endblock %}

{% block card-title %}
      Email sent!
{% endblock %}

{% block card-body %}
  Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
{% endblock %}

{% block card-button %}
  <a  href="{% url 'login' %}" class="uk-button uk-button-default uk-align-center">Back to login</a>
{% endblock %}

{% block card-footer %}
{% endblock %}