{% extends 'authentication_card.html' %}

{% load static %}

{% block title %}
  Password change
{% endblock %}

{% if validlink %}
  {% block card-title %}
      Change password
  {% endblock %}

  {% block card-body %}
    Change password for {{ form.user.email }}
  {% endblock %}

  {% block card-button %}
      <button class="uk-button uk-button-default uk-align-center uk-margin-remove-bottom">Change password</button>
  {% endblock %}
  
  <!-- If the link is invalid, -->
{% else %}
  {% block card-title %}
      Error
  {% endblock %}

  <!-- Override the form -->
  {% block card-form %}
    <!-- Nothing here...-->
  {% endblock %}

  {% block card-body %}
    It looks like you clicked on an invalid password reset link. Please try again.
  {% endblock %}

  {% block card-footer %}
      <a href="{% url 'password_reset' %}" class="uk-button uk-button-text">Reset Password</a>
  {% endblock %}
{% endif %}