{% extends 'authentication_card.html' %}

{% load static %}

{% block title %}
  Password Changed
{% endblock %}

{% block card-title %}
    Password Changed
{% endblock %}

{% block card-body %}
  You have successfully changed your password! You may now proceed to log in.
{% endblock %}

<!-- Empty form -->
{% block card-form %}
    <!-- Purposely left empty to clear the card-form block -->
{% endblock %}

{% block card-footer %}
    <a href="{% url 'login' %}" class="uk-button uk-button-text">Return to Log In</a>
{% endblock %}