{% extends 'form_navbar.html' %}

{% block navbar_content %}

    <div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top" >
    <h2 class="uk-heading-divider">Fullførte utsendte skjema</h2>

    {% if forms %}
        <p>Disse skjema har du sendt ut og har blitt fullført.</p>
            <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Opprettet</th>
                    <th>Skjema</th>
                    <th>Gruppe</th>
                    <th>Til</th>
                    <th>Godkjenner</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                    <td>{{ form.form_created_time|date:'d-M-Y' }}</td>
                    <td>
                        <a href="{% url 'forms:signed-form-info' slug=form.form_slug id=form.id %}">
                            {{ form.form_name }}
                        </a>
                    </td>
                    <td>{{ form.group }}</td>
                    <td>
                        {% for signer in form.form_signers.all %}
                            <p>
                                {{ signer }} -
                                {% if signer in form.form_signatures.all %}
                                signert
                                {% else %}
                                ikke signert
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        {%  if form.form_approvers.all %}
                        {% for approver in form.form_approvers.all %}
                            <p>
                                {{ approver }}
                            </p>
                        {% endfor %}
                        {% else %}
                            Ingen
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        Det finnes ingen skjema her.
    {% endif %}


    </div>

{% endblock %}