{% extends 'form_navbar.html' %}

{% block navbar_content %}

    {% include "archived_navbar.html" %}

    <div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">

    {% if forms %}
        <p>Disse skjema har du signert og har blitt godkjent.</p>
            <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Skjema</th>
                    <th>Gruppe</th>
                    <th>Fra</th>
                    <th>Godkjenner</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                    <td>{{ form.form_name }}</td>
                    <td>{{ form.group }}</td>
                    <td>{{ form.form_instantiator }}</td>
                    <td>
                        {%  if form.form_approvers.all %}
                        {% for dude in form.form_approvers.all %}
                            <p>
                                {{ dude }}
                            </p>
                        {% endfor %}
                        {% else %}
                            Ingen
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        Det finnes ingen skjema her.
    {% endif %}
    </div>

{% endblock %}