{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="uk-cover-container">
  <!-- Switch canvas on media queries -->
  <canvas class="uk-visible@m" width="0" height="270" ></canvas>
  <canvas class="uk-hidden@m" width="0" height="200" ></canvas>
  <img src="/media/forms/forms_photo.png" alt="group cover photo" uk-cover>
</div>

    {% include "form_navbar.html" %}

    {% include "archived_navbar.html" %}

<div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">

{% if forms %}
    <p>Disse skjema har du signert og har blitt godkjent.</p>
        <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Skjema</th>
                <th>Gruppe</th>
                <th>Fra</th>
                <th>Godkjenner</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
                <tr>
                <td>{{ form.form_name }}</td>
                <td>{{ form.group }}</td>
                <td>{{ form.form_instantiator }}</td>
                <td>
                    {%  if form.form_approvers.all %}
                    {% for dude in form.form_approvers.all %}
                        <p>
                            {{ dude }}
                        </p>
                    {% endfor %}
                    {% else %}
                        Ingen
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

{% else %}
    Det finnes ingen skjema her.
{% endif %}


</div>

{% endblock %}