{% extends 'form.html' %}

{% block form-content %}
<div class="uk-container uk-width-6-7@m">
    
    <h2 class="uk-heading-divider"><span>Kontrakt for Midlertidig Ansettelse</span></h1>

    <h3 class="uk-heading-divider">Del 1: Informasjon</h3>

    <p class="uk-article-meta">NTNUI <a href="#"></a> 2018</a></p>
        <p>
            Kontrakt for midlertidig ansettelse mellom klubb(arbeidsgiver): Norges Teknisk Naturvitenskapelige Universitets Idrettsforening
        <p>Org. Nummer: 975 728 773</p>
        <p>Adresse: Christian Frederiks Gate 20, 7491 Trondheim</p>
    </p>
    <hr>
    <p class="uk-text-bold">Forutsetninger for arbeidsforholdet</p
        ><p>
        Arbeidstaker innestår for at han/hun ikke har opptrådt eller vil opptre på en måte som må
        anses å være i strid med NIFs formål, virksomhet eller kjerneverdier og som er uforenlig med
        stillingen. Dette innbefatter blant annet doping, kampfiksing og andre handlinger som er
        egnet til å skade idrettens eller/og NTNUIs anseelse og omdømme.
        </p>
        <p>
        Arbeidstaker er innforstått med at dette er en viktig forutsetning for ansettelsen, og at
        brudd på denne forutsetningen kan medføre oppsigelse eller avskjed i henhold til
        arbeidsmiljølovens bestemmelser.
        </p>

    <p class="uk-text-bold">Arbeidssted<p>
        </p>    
            Arbeidstakers primære arbeidssted er arbeidsgivers kontor/anlegg. I tillegg må Arbeidstaker
            påregne annet arbeidssted dersom det er nødvendig for å kunne utføre arbeidsoppgavene
            iht. arbeidsavtalen.
        </p>

    <p class="uk-text-bold">Arbeidstid</p>
        <p>
            Stillingen er særlig uavhengig og er unntatt fra arbeidsmiljølovens arbeidstidsbestemmelser,
            jf. AML. § 10-12 (2).
        </p>

    <p class="uk-text-bold">Sykdom</p>
        <p>
            Ved sykdom plikter Arbeidstaker å melde i ifra til gruppeleder eller annen overordnet person
            så snart som mulig.
        </p>
    <p class="uk-text-bold">Refusjon av utlegg</p>
        <p>
            Ved refusjon av utlegg må refusjonskjema og kvittering leveres til gruppekasserer innenfor
            samme kalenderår der utgiften fant sted.
        </p>
    <p class="uk-text-bold">Oppførsel</p>
        <p>
            Arbeidstaker plikter seg til å følge vedlagte retningslinjer for oppførsel beskrevet i vedlegget
            <a href="https://www.idrettsforbundet.no/trenerloypa/den-norske-treneren/">«Verdibasert trenerskap.»</a>
        </p>
        <p>
            Dersom Arbeidstakers oppførsel resulterer i tilsnakk fra Klubbens Hovedstyre to ganger vil
            arbeidsforholdet avsluttes med umiddelbar virkning.
        </p>
    <p class="uk-text-bold">Arbeidstakers rett til å inngå avtaler med tredjepart</p>
        <p>
            Arbeidstaker kan ikke, uten forutgående godkjennelse fra Klubbens Hovedstyre, forplikte
            arbeidsgiver økonomisk i forhold til tredjepart.
        </p>
    <p class="uk-text-bold">Makeds-og-sponsor avtaler mv.</p>
        <p>
            Under arbeidstakers utføring av arbeid for arbeidsgiver, plikter arbeidstaker å benytte utstyr
            og bekledning i tråd med klubbens retningslinjer.
        </p>
        <hr>

        <p>
            <label><input class="uk-checkbox" type="checkbox" unchecked> Jeg bekrefter å ha lest innholdet over</label>
            <br><br>
            <button class="uk-button uk-button-secondary" href="#">Neste</button>
        </p>
        <hr>

</div>
{% endblock %}

