<!-- Should be inherited by all templates that should include graphic and navbar -->

{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="uk-cover-container">
        <canvas class="uk-visible@m" width="0" height="270" ></canvas>
        <canvas class="uk-hidden@m" width="0" height="200" ></canvas>
        <img src="/media/forms/forms_photo.png" alt="group cover photo" uk-cover>
    </div>

    <nav class="uk-navbar-container">
        <div class="uk-flex uk-flex-center uk-flex-middle uk-width-1-1 uk-visible@m">
            <ul class="uk-tab uk-subnav uk-subnav-divider uk-margin-remove uk-padding-small"  uk-margin>
               {% if is_authorized %}
                <li {% if navbar == 'instantiate-form-list' %}class="uk-active"{% endif %}>
                    <a href="{% url 'forms:instantiate-form-list' %}" >
                        <span uk-icon="copy" class="uk-margin-small-right" ></span>
                        Nytt skjema
                    </a>
                </li>
                <li {% if navbar == 'outgoing-list' %}class="uk-active"{% endif %}>
                    <a href="{% url 'forms:outgoing-list' %}">
                        <span uk-icon="forward" class="uk-margin-small-right"></span>
                        Utsendte skjema
                    </a>
                </li>
                {% endif %}
                <li {% if navbar == 'incoming-list' %}class="uk-active"{% endif %}>
                    <a href="{% url 'forms:incoming-list' %}" >
                        <span uk-icon="file-edit" class="uk-margin-small-right"></span>
                        Aktive skjema
                    </a>
                </li>
                {% if is_authorized %}
                <li {% if navbar == 'archive' %}class="uk-active"{% endif %}>
                    <a href="#">Arkiv <span class="uk-margin-small-left" uk-icon="icon: triangle-down"></span></a>
                    <div uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-active">
                                <a href="{% url 'forms:archive-incoming-list' %}" >Signerte skjema</a>
                                <a href="{% url 'forms:archive-outgoing-list' %}" >Utsendte skjema</a>
                            </li>
                        </ul>
                    </div>
                </li>
                    {% else %}
                    <li {% if navbar == 'archive' %}class="uk-active"{% endif %}>
                        <a href="{% url 'forms:archive-incoming-list' %}" >
                            <span uk-icon="file-edit" class="uk-margin-small-right"></span>
                            Arkiv
                        </a>
                    </li>
                    {% endif %}
            </ul>
        </div>
    </nav>
    {% block navbar_content %}
    {% endblock %}
{% endblock %}