{% load static %}

{% block content %}

<nav class="uk-navbar-container">
        <div class="uk-flex uk-flex-center uk-flex-middle uk-width-1-1 uk-visible@m">
            <ul uk-tab class="uk-subnav uk-subnav-divider uk-margin-remove uk-padding-small" uk-margin>
                </a>
            </li>
                <li><a href="#">
                    <span uk-icon="plus" class="uk-margin-small-right" ></span>
                    Nytt skjema
                </a></li>
                
                <li><a href="#">
                    <span uk-icon="star" class="uk-margin-small-right"></span>
                    Aktive skjema
                </a></li>
                <li><a href="#">
                    <span uk-icon="future" class="uk-margin-small-right"></span>
                    Sjekk status
                </a></li>
                <li><a href="#" onclick="notImplemented()">
                    <span uk-icon="mail" class="uk-margin-small-right"></span>
                    Forespørsler
                </a>
            </li>
            </ul>
        </div>

{% endblock %}

