{% extends 'form.html' %}

{% block form-content %}

    <div class="uk-container uk-width-6-7@m">
        <h2 class="uk-heading-divider">
            <span>{{ record.form_name }}</span>
        </h2>
        <h3 class="uk-heading-divider">Del 2: Utfylling og signering</h3>
        <div class="uk-margin">
            <p>Navn: {{ request.user.get_full_name }}</p>
            <p>Gruppe: {{ record.group }}</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="uk-button uk-button-secondary" type="submit" value="Til signering">
            </form>
        </div>
        <hr>
    </div>

{% endblock %}
