{% extends 'form_navbar.html' %}

{% block navbar_content %}

    <div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">
    {%  if is_authorized %}
    <h2 class="uk-heading-divider">Mottatte skjema</h2>
    {% else %}
    <h2 class="uk-heading-divider">Mottatte skjema</h2>
    {% endif %}
    {% if forms %}
        <p>Disse skjema venter på din signatur eller venter på ekstern godkjenning. Klikk på skjemaet du ønsker å signere.<br>
        <a href="{% url 'forms:archive-incoming-list' %}">
            Finner du ikke motatt skjema? Kanskje det er fullført, klikk her for å se fullførte skjema.
        </a>
        </p>
            <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Opprettet</th>
                    <th>Skjema</th>
                    <th>Gruppe</th>
                    <th>Fra</th>
                    <th>Signert</th>
                    <th>Godkjenner</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                    <td>{{ form.form_created_time|date:'d-M-Y' }}</td>
                    <td>
                        {% if current_user not in form.form_signatures.all %}
                            <a href="{% url 'forms:signer-info' slug=form.form_slug id=form.id %}">
                        {% else %}
                            <a href="{% url 'forms:signed-form-info' slug=form.form_slug id=form.id %}">
                        {% endif %}
                                {{ form.form_name }}
                            </a>
                    </td>
                    <td>
                        {{ form.group }}
                    </td>
                    <td>
                        {{ form.form_instantiator }}
                    </td>
                    <td>
                        {% if current_user in form.form_signatures.all %}
                            Ja
                        {% else %}
                            Nei
                        {% endif %}
                    </td>
                    <td>
                        {%  if form.form_approvers.all %}
                        {% for approver in form.form_approvers.all %}
                            <p>
                                {{ approver }}
                            </p>
                        {% endfor %}
                        {% else %}
                            Ingen
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        Du har ikke fått noen skjema som venter din signering.
        <br>
        <a href="{% url 'forms:archive-incoming-list' %}">
            Finner du ikke motatt skjema? Kanskje det er fullført, klikk her for å se fullførte skjema.
        </a>
    {% endif %}

    </div>

{% endblock %}