{% extends 'form_navbar.html' %}

{% block navbar_content %}

    <div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">

    {% if forms %}
        <p>Disse skjema venter på din signatur eller venter på ekstern godkjenning.</p>
            <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Opprettet</th>
                    <th>Skjema</th>
                    <th>Gruppe</th>
                    <th>Fra</th>
                    <th>Signert</th>
                    <th>Godkjenner</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                    <td>{{ form.form_created_time|date:'d-M-Y' }}</td>
                    <td>
                        {% if current_user not in form.form_signatures.all %}
                            <a href="{% url 'forms:signer-info' slug=form.form_slug id=form.id %}">
                                {{ form.form_name }}
                            </a>
                        {% else %}
                                {{ form.form_name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ form.group }}
                    </td>
                    <td>
                        {{ form.form_instantiator }}
                    </td>
                    <td>
                        {% if current_user in form.form_signatures.all %}
                            Ja
                        {% else %}
                            Nei
                        {% endif %}
                    </td>
                    <td>
                        {%  if form.form_approvers.all %}
                        {% for approver in form.form_approvers.all %}
                            <p>
                                {{ approver }}
                            </p>
                        {% endfor %}
                        {% else %}
                            Ingen
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        Du har ikke fått noen skjema som venter din signering.
    {% endif %}

    </div>

{% endblock %}