{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="uk-cover-container">
  <!-- Switch canvas on media queries -->
  <canvas class="uk-visible@m" width="0" height="270" ></canvas>
  <canvas class="uk-hidden@m" width="0" height="200" ></canvas>
  <img src="/media/forms/forms_photo.png" alt="group cover photo" uk-cover>
</div>

{% include "form_navbar.html" %}

<div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">


{% if forms %}
    <p>Disse skjema venter på din signatur.</p>
        <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Skjema</th>
                <th>Gruppe</th>
                <th>Fra</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
                {% with 'forms:'|add:form.form_slug|add:'-signer-info' as signer_url %}
                <tr class="uk-table-link">
                <td><a href="{% url signer_url id=form.id %}">{{ form.form_name }}</a></td>
                <td>{{ form.group }}</td>
                <td>{{ form.form_instantiator }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
        </table>

{% else %}
    Du har ikke fått noen skjema som venter din signering
{% endif %}

</div>

{% endblock %}