{% extends 'form_navbar.html' %}

{% block navbar_content %}

<div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">

{% if forms %}

{% for form in forms %}
    <li>
    {% with 'forms:'|add:form.form_slug|add:'-instantiator' as instantiator_url %}
        <a href="{% url instantiator_url %}">
            Send ut "{{ form.form_name }}" skjema
        </a>
    {% endwith %}
    </li>
{% endfor %}

</ul>
{% else %}
    <p>Det finnes ingen skjema du kan sende ut.</p>
{% endif %}
</div>

{% endblock %}