{% extends 'form_navbar.html' %}

{% block navbar_content %}

<div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">
    <h2 class="uk-heading-divider">Utsendte skjema</h2>
    {% if forms %}
        <p>Disse skjema har du sendt ut og ikke er fullført enda.<br>
        <a href="{% url 'forms:archive-outgoing-list' %}">
             Finner du ikke utsendt skjema? Kanskje det er fullført, klikk her for å se fullørte skjema.
        </a>
        </p>
            <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Opprettet</th>
                    <th>Skjema</th>
                    <th>Gruppe</th>
                    <th>Til</th>
                    <th>Godkjenner</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                    <td>{{ form.form_created_time|date:'d-M-Y' }}</td>
                    <td>{{ form.form_name }}</td>
                    <td>{{ form.group }}</td>
                    <td>
                        {% for signer in form.form_signers.all %}
                            <p>
                                {{ signer }} -
                                {% if signer in form.form_signatures.all %}
                                signert
                                {% else %}
                                ikke signert
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        {%  if form.form_approvers.all %}
                        {% for approver in form.form_approvers.all %}
                            <p>
                                {{ approver }}
                            </p>
                        {% endfor %}
                        {% else %}
                            Ingen
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        Her vil du finne skjema som du har sendt ut og ikke har blitt signert enda.
        Du har ingen utsendte skjema og listen er derfor tom.
        <br>
        <a href="{% url 'forms:archive-outgoing-list' %}">
             Finner du ikke utsendt skjema? Kanskje det er fullført, klikk her for å se fullørte skjema.
        </a>
    {% endif %}

    </div>

{% endblock %}