{% extends 'form_navbar.html' %}

{% block navbar_content %}

<div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">

    {% if forms %}
        <p>Disse skjema har du sendt ut og er ikke fullført ennå.</p>
            <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Skjema</th>
                    <th>Gruppe</th>
                    <th>Til</th>
                    <th>Godkjenner</th>
                    <th>Opprettet</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                    <td>{{ form.form_name }}</td>
                    <td>{{ form.group }}</td>
                    <td>
                        {% for dude in form.form_signers.all %}
                            <p>
                                {{ dude }} -
                                {% if dude in form.form_signatures.all %}
                                signert
                                {% else %}
                                ikke signert
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        {%  if form.form_approvers.all %}
                        {% for dude in form.form_approvers.all %}
                            <p>
                                {{ dude }}
                            </p>
                        {% endfor %}
                        {% else %}
                            Ingen
                        {% endif %}
                    </td>
                    <td>{{ form.form_created_time|date:'d-M-Y' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        Det finnes ingen skjema fra deg som venter signering.
    {% endif %}

    </div>

{% endblock %}