{% load static %}
{% load group_tags %}

{% if invitations %}
<div uk-overflow-auto>
    <table class="uk-table uk-table-divider uk-margin-remove-top">
        <thead>
            <tr>
                <th>Name</th>
                <th class="uk-table-expand">Mail</th>
                <th class="uk-table-expand">Invitation Sent</th>
                <th class="uk-text-center uk-width-1-5">Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.member.get_full_name }}</td>
                <td class="uk-text-truncate">{{ invitation.member.email }}</td>
                <td class="uk-table-expand">{{ invitation.time|time_since }}</td>
                <td class="uk-text-center uk-width-1-5"><a href="#" class="uk-link-reset" onclick="notImplemented()"><span uk-icon="icon: close"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="uk-align-center uk-text-center uk-text-meta uk-margin-medium-top">There are no pending invitations!</p>
{% endif %}

<!-- This is a button toggling the modal -->
<p class="uk-text-center uk-margin-small-bottom">
    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #group-members-invitation-modal">Invite User</button>
</p>

<!-- This is the modal -->
<div id="group-members-invitation-modal" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header uk-text-center">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Invite</h2>
        </div>
        <div class="uk-modal-body">
            <p class="uk-text-center">
                Invite a new user to the group by filling out the form below!
            </p>
            <form id="group-members-invitation-form" class="uk-form-stacked">
                {% csrf_token %} 
                <div>
                    <label class="uk-form-label">
                        Email
                    </label> 
                    <div class="uk-form-controls">
                        <input id="invitation-email" name="email" maxlength=100 class="uk-input" required type="email">
                    </div>
                    <div id="group-members-invitation-form-error" class="uk-center">
                        <p class="uk-text-center uk-margin-small-top"></p>
                    </div>
                </div>
                <p class="uk-text-center">
                    <!-- Place an 'onclick' listener on this button using js -->
                    <button class="uk-button ntnui-button-primary" type="submit">Invite</button>
                </p>
            </form>
        </div>
    </div>
</div>

