{% extends 'group.html' %}

{% block group-content %}
  <h1 class="uk-heading-divider uk-text-center">{{ group.name }}</h1>
  <p>{{ group.meta.description }}</p>
<!-- 
  <div class="content-table">
    <div class="list-header">
      About {{ group.name }}
      <form method="post" novalidate>
        {% csrf_token %}
        {% if joined == False %}
          {% if group.public %}
            <input type="submit" class="btn btn-success" name="join-group" value="Join" />
          {% else %}
            {% if sent_request == False %}
              <input type="submit" class="btn btn-success" value="Ask to join" />
            {% else %}
              <button disabled class="btn btn-disabled btn-pending">Request pending</button>
            {% endif %}
          {% endif %}
        {% endif %}
      </form>
    </div>

    <div class="group-table-description">
      {{ group.meta.description }}
    </div>
  </div>

    <div class="content-table">
      <div class="list-header">
        The Board
      </div>

      <div class="members-header">
        <div class="group-column-20">Name</div>
        <div class="group-column-50">E-mail</div>
        <div class="group-column-20">Role</div>
      </div>

      {% for role in group.board.get_roles_sorted %}
        <div class="group-table-row">
          <div class="group-column-20">{{ role.member }}</div>
          <div class="group-column-50">{{ role.member.email }}</div>
          <div class="group-column-20">{{ role.get_full_role }}</div>
        </div>
      {% endfor %}
    </div> -->
{% endblock %}
