{% load static %}
{% load group_tags %}

{% if invitations %}
<div uk-overflow-auto>
    <table class="uk-table uk-table-divider uk-margin-remove-top">
        <thead>
            <tr>
                <th>Name</th>
                <th class="uk-table-expand">Mail</th>
                <th class="uk-table-expand">Invitation Sent</th>
                <th class="uk-text-center uk-width-1-5">Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.member.get_full_name }}</td>
                <td class="uk-text-truncate">{{ invitation.member.email }}</td>
                <td class="uk-table-expand">{{ invitation.time|time_since }}</td>
                <td class="uk-text-center uk-width-1-5"><a href="#" class="uk-link-reset" onclick="notImplemented()"><span uk-icon="icon: close"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="uk-align-center uk-text-center uk-text-meta uk-margin-medium-top">There are no pending requests!</p>
{% endif %}