{% load static %}

{% block card %}
<a class="uk-link-reset" href="{% url 'group-home' slug=group.slug %}">
  <div class="uk-card uk-card-default uk-panel uk-padding-small uk-margin-small-top uk-transition-toggle" >
    <span class="uk-badge uk-float-right uk-label-danger uk-text-small"> {{ group.get_access_status }} </span>

    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-container-xsmall uk-margin-small-left uk-cover-container">
        <!-- Values are determined by trial and error, change at your own risk -->
        <img class="uk-border-circle" width="100" height="100" src="{{ group.media.logo_image.url }}" uk-cover>
        <canvas height="95" width="80"></canvas>
      </div>
      <div class="uk-width-expand uk-margin-small-left">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{ group.name }}</h3>
        <div class="uk-text-meta uk-margin-remove-top uk-text-truncate"> 
          {{ group.meta.description }}
        </div>
      </div>
    </div>
  </div>
</a>
{% endblock %}