{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="uk-cover-container">
  <!-- Switch canvas on media queries -->
  <canvas class="uk-visible@m" width="0" height="270" ></canvas>
  <canvas class="uk-hidden@m" width="0" height="200" ></canvas>
  <img src="{{ group.media.cover_photo.url }}" alt="group cover photo" uk-cover>
</div>

{% include "group_navbar.html" %}
<div class="uk-container uk-width-4-5@m uk-width-2-3@l uk-margin-small-top">
  <div class="uk-flex uk-flex-column uk-flex-middle uk-width-1-1">
    {% block group-content %}
    {% endblock %}
  </div>
</div>
{% endblock %}

<!-- TODO: Implement a notification system
{% if messages %}
  {% for message in messages %}
    {% if 'error' in message.tags %}
      <div class="alert alert-danger group-alert" role="alert">{{ message }}</div>
    {% elif 'warning' in message.tags %}
      <div class="alert alert-warning group-alert" role="alert">{{ message }}</div>
    {% else %}
      <div class="alert alert-success group-alert" role="alert">{{ message }}</div>
    {% endif %}
  {% endfor %}
{% endif %}
-->