{% load static %}
<!DOCTYPE html>

<html class="uk-background-muted">
  <!-- Load the head tag, including stylesheets etc. -->
  {% include "meta.html" %}

  <body>
    <div id="offcanvas" class="uk-offcanvas-content uk-background-muted">
      {% include "navbar.html" %}
      
      <!-- Subtract the footer and navbar height -->
    <div class="ntnui-content uk-margin-small-bottom">
          {% block content %}
          {% endblock %}
      </div>

      {% include "footer.html" %}
    </div>

    <!-- Load the notification js before calling the notification methods -->
    <script type="text/javascript" src="{% static 'script/notifications.js' %}"></script>
    
    <!-- Show any messages as notifications -->
    <script type="text/javascript">      
      {% if messages %}
        {% for message in messages %}
          notificationMessage("{{ message }}", "{{ message.tags }}")
        {% endfor %}
      {% endif %}
    </script>

    {% block extend-script %}
    {% endblock %}
  </body>
</html>
