{% load static %}

    
<footer class="uk-section-small uk-background-muted" style="flex: 1">
    <div class="uk-container uk-container-expand uk-text-center uk-position-relative">
    <ul class="uk-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom" uk-margin="">
        <li class="uk-first-column uk-margin-medium-right">
        <a href="https://github.com/NTNUI/ntnui/issues" class="uk-text-capitalize">
            <span uk-icon="icon: github" class="uk-margin-small-right uk-icon"></span>Github</a>
        </li>
        <li class="uk-margin-medium-left">
        <a href="https://instagram.com/ntnui_" class="uk-text-lowercase">
        <span uk-icon="icon: instagram" class="uk-margin-small-right uk-icon"></span>@ntnui_</a>
        </li>

    </ul>

    </div>
</footer>