{% load static %}

    
<footer class="uk-position-fixed uk-position-bottom uk-background-muted uk-flex uk-flex-middle" style="height: 4rem">
    <ul class="uk-subnav uk-flex uk-flex-center uk-width-1-1 uk-margin-remove" uk-margin="">
        <li class="uk-first-column uk-margin-medium-right">
        <a href="https://github.com/NTNUI/ntnui/issues" class="uk-text-capitalize">
            <span uk-icon="icon: github" class="uk-margin-small-right uk-icon"></span>Github</a>
        </li>
        <li class="uk-margin-medium-left">
        <a href="https://instagram.com/ntnui_" class="uk-text-lowercase">
        <span uk-icon="icon: instagram" class="uk-margin-small-right uk-icon"></span>@ntnui_</a>
        </li>

    </ul>
</footer>